
<ion-content>
  <div class="login-container">
    <div class="content-wrapper">
      <div class="title-container">
        <h1 class="main-title">HKDC</h1>
        <p class="sub-title">Hinai Kanan Data Center</p>
      </div>
      <div class="login-box">
        <div class="login-header">
          <img src="https://i.pinimg.com/736x/3a/65/06/3a6506d04f899d925e591987809be451.jpg" alt="HKDC Logo" class="login-logo">
        </div>
        <form (ngSubmit)="login()">
          <div class="input-container">
            <ion-icon name="person"></ion-icon>
            <input type="text" [(ngModel)]="username" name="username" required placeholder="Username">
          </div>
          <div class="input-container">
            <ion-icon name="lock-closed"></ion-icon>
            <input type="password" [(ngModel)]="password" name="password" required placeholder="Password">
          </div>
          <ion-button expand="full" type="submit">Login</ion-button>
        </form>
        <div>
          <p class="help">Jika Anda tidak memiliki akun, silakan <a href="https://wa.me/6281273113924" target="_blank">hubungi admin</a> untuk dibuatkan akun.</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>


