<ion-content padding>
  <div class="header">
    <h2 class="ion-text-center">Tambah Data Penduduk</h2>
  </div>
  <ion-card class="form-card">

    <ion-card-content>    
      <ion-list>
        <ion-item>
          <ion-input
           label="Nama"
           labelPlacement="floating"
           placeholder="Masukkan Nama"
           [(ngModel)]="nama">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input 
           [(ngModel)]="nik" 
           label="NIK" 
           labelPlacement="floating" 
           type="number">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input
           label="Tempat dan Tanggal lahir"
           labelPlacement="floating"
           placeholder="Masukkan Tempat dan Tanggal lahir"
           [(ngModel)]="tempat_tgl_lahir">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-input 
           type="number" 
           [(ngModel)]="umur" 
           label="Umur" 
           labelPlacement="floating" 
           placeholder="Masukkan Umur">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-select [(ngModel)]="jenis_kelamin" label="Jenis Kelamin" labelPlacement="floating">
            <ion-select-option value="LAKI-LAKI">Laki-Laki</ion-select-option>
            <ion-select-option value="PEREMPUAN">Perempuan</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input 
           [(ngModel)]="alamat" 
           label="Alamat" 
           labelPlacement="floating" 
           placeholder="Masukkan Alamat">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-select [(ngModel)]="agama" label-placement="floating" placeholder="Agama" label="Agama">
            <ion-select-option value="ISLAM">ISLAM</ion-select-option>
              <ion-select-option value="PROTESTAN">PROTESTAN</ion-select-option>
              <ion-select-option value="KATOLIK">KATOLIK</ion-select-option>
              <ion-select-option value="HINDU">HINDU</ion-select-option>
              <ion-select-option value="BUDHA">BUDHA</ion-select-option>
              <ion-select-option value="KHONGHUCU">KHONGHUCU</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
          <ion-select [(ngModel)]="status_kawin" label-placement="floating" label="Status Menikah" placeholder="Status Menikah">
            <ion-select-option value="SUDAH MENIKAH">Sudah Menikah</ion-select-option>
            <ion-select-option value="BELUM MENIKAH">Belum Menikah</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input 
           [(ngModel)]="pekerjaan" 
           label="Pekerjaan" 
           labelPlacement="floating"
           placeholder="Masukkan Pekerjaan">
          </ion-input>
        </ion-item>
        <ion-item>
          <ion-select [(ngModel)]="posisi" label="Peran Dalam Keluarga" labelPlacement="floating">
            <ion-select-option value="KEPALA KELUARGA">Kepala Keluarga</ion-select-option>
            <ion-select-option value="ANGGOTA KELUARGA">Anggota Keluarga</ion-select-option>
          </ion-select>
        </ion-item>
  
      </ion-list>
        <ion-button expand="block" (click)="addpenduduk()">
          Simpan Data
        </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
