      <ion-content>
        <div class="header-section">
          <h1>Detail <br> Penduduk</h1>
        </div>
      
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col class="tittle1">Nama</ion-col>
                <ion-col class="titik1">:</ion-col>
                <ion-col class="isi1">
                  <ion-input [(ngModel)]="penduduk.nama"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="tittle">NIK</ion-col>
                <ion-col class="titik">:</ion-col>
                <ion-col class="isi">
                  <ion-input [(ngModel)]="penduduk.nik"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="tittle">Tempat/Tgl Lahir</ion-col>
                <ion-col class="titik">:</ion-col>
                <ion-col class="isi">
                  <ion-input [(ngModel)]="penduduk.tempat_tgl_lahir"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="tittle">Umur</ion-col>
                <ion-col class="titik">:</ion-col>
                <ion-col class="isi">
                  <ion-input [(ngModel)]="penduduk.umur"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="tittle">Jenis Kelamin</ion-col>
                <ion-col class="titik">:</ion-col>
                <ion-col class="isi">
                  <ion-select [(ngModel)]="penduduk.jenis_kelamin">
                    <ion-select-option value="LAKI-LAKI">LAKI-LAKI</ion-select-option>
                    <ion-select-option value="PEREMPUAN">PEREMPUAN</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="tittle">Alamat</ion-col>
                <ion-col class="titik">:</ion-col>
                <ion-col class="isi2">
                  <textarea [(ngModel)]="penduduk.alamat"></textarea>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="tittle">Agama</ion-col>
                <ion-col class="titik">:</ion-col>
                <ion-col class="isi">
                  <ion-select [(ngModel)]="penduduk.agama">
                    <ion-select-option value="ISLAM">ISLAM</ion-select-option>
                    <ion-select-option value="PROTESTAN">PROTESTAN</ion-select-option>
                    <ion-select-option value="KATOLIK">KATOLIK</ion-select-option>
                    <ion-select-option value="HINDU">HINDU</ion-select-option>
                    <ion-select-option value="BUDHA">BUDHA</ion-select-option>
                    <ion-select-option value="KHONGHUCU">KHONGHUCU</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="tittle">Status</ion-col>
                <ion-col class="titik">:</ion-col>
                <ion-col class="isi">
                  <ion-select [(ngModel)]="penduduk.status_kawin">
                    <ion-select-option value="SUDAH MENIKAH">Sudah Menikah</ion-select-option>
                    <ion-select-option value="BELUM MENIKAH">Belum Menikah</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="tittle">Pekerjaan</ion-col>
                <ion-col class="titik">:</ion-col>
                <ion-col class="isi">
                  <ion-input [(ngModel)]="penduduk.pekerjaan"></ion-input>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="tittle">Posisi</ion-col>
                <ion-col class="titik">:</ion-col>
                <ion-col class="isi">
                  <ion-select [(ngModel)]="penduduk.posisi">
                    <ion-select-option value="KEPALA KELUARGA">KEPALA KELUARGA</ion-select-option>
                    <ion-select-option value="ANGGOTA KELUARGA">ANGGOTA KELUARGA</ion-select-option>
                  </ion-select>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col class="tittle">
                  <ion-button class="mata" expand="block" (click)="updatePenduduk()">
                   <ion-icon class="olmata" name="create-outline"></ion-icon>
                   <div class="text">
                    SIMPAN
                   </div>
                 </ion-button>
                 <ion-button class="mata" expand="block" (click)="closeModal()" color="danger">
                  <ion-icon class="olmata" name="close-outline"></ion-icon>
                  <div class="text">
                    TUTUP
                  </div>
                 </ion-button>
              </ion-col>
              </ion-row>
            </ion-grid> 
          </ion-card-content>
        </ion-card>
      </ion-content>
      
      
      


